<div>
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->

        <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
                <div>
                    <div class="view">
                        <img class="d-block w-100"
                            src="https://images.unsplash.com/photo-1433622070098-754fdf81c929?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                            alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">Nom</h3>
                        <p>Resume</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" *ngFor="let m of events.slice(1)">
                <div class="view">
                    <img class="d-block w-100" src="{{m.image}}" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">{{m.nom}}</h3>
                    <p>{{m.resume}}</p>
                </div>
            </div>
            <!-- -->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <p></p>

    <div class="container">
        <div class="row">
            <div class="serach-hero">
                <input class="form-control rounded" [(ngModel)]="searchText" name="search" autocomplete="off"
                    type="text" placeholder="Chercher..." style="min-width: 125px;">
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-3" *ngFor="let m of events | filter:searchText">
                <div class="card card-cascade narrower">
                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(147).webp"
                            alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Label -->
                        <h5 class="pink-text pb-2 pt-1"><i class="fas fa-calendar"></i> {{m.date}}</h5>
                        <!-- Title -->
                        <h4 class="font-weight-bold card-title">{{m.nom}}</h4>
                        <!-- Text -->
                        <p class="card-text">{{m.resume}}</p>
                        <!-- Button -->
                        <p class="card-text">{{m.prix}} euros</p>
                        <a class="btn btn-unique">Plus d'infos</a>

                    </div>

                </div>
                <p></p>
            </div>



        </div>


    </div>
</div>