<div>
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->



        <div class="carousel-inner" role="listbox">

            <div class="carousel-item active">
                <div>
                    <div class="view">
                        <img class="d-block w-100"
                            src="https://res.cloudinary.com/de1leytbf/image/upload/c_crop,g_north_east,h_297,w_612/v1673946926/samples/project/hip-hop-musicien_xhwa0i.jpg"
                            alt="First slide">
                        <div class="mask rgba-black-light"></div>
                    </div>
                    <div class="carousel-caption">
                        <h3 class="h3-responsive">RAP CONTENDERS</h3>
                        <p>EVENEMENT RAP : Préparez vous !</p>
                    </div>
                </div>
            </div>


            <div class="carousel-item" *ngFor="let m of events.slice(1)">
                <div class="view">
                    <img class="d-block w-100" src="{{m.image_carousel}}" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                    <h3 class="h3-responsive">{{m.nom}}</h3>
                    <p>{{m.resume}}</p>
                </div>
            </div>
            <!-- -->
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <p></p>

    <div class="container">
        <div class="row">
            <div class="serach-hero">
                <input class="form-control rounded" [(ngModel)]="searchText" name="search" autocomplete="off"
                    type="text" placeholder="Chercher..." style="min-width: 125px;">
            </div>
        </div>
        <p></p>
        <p class="text-danger text-center"> {{ msg }} </p>
        <div class="row">

            <div class="col-4" *ngFor="let m of events | filter:searchText">
                <div class="card card-cascade narrower">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="{{m.image_mini}}" alt="Card image cap">
                        <a>
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body">

                        <!-- Label -->
                        <h5 class="pink-text pb-2 pt-1"><i class="fas fa-calendar"></i> {{m.date}}</h5>
                        <!-- Title -->
                        <h4 class="font-weight-bold card-title">
                            <!-- <a class="text-dark" routerLink="/evenements/page"></a>-->
                            <a (click)="RedirectToPageEvenement(m.id)" class="text-dark">{{m.nom}}</a>
                        </h4>
                        <h6 class="font-weight-bold card-title">{{m.horaire}}</h6>
                        <!-- Text -->
                        <p class="card-text">{{m.resume}}</p>
                        <!-- Button -->
                        <h6 class="font-weight-bold card-title">Prix : {{m.prix}}€ TTC</h6>
                        <div class="text-center">
                            <label for="quantity">Quantité : </label>
                            <select #quantity id="quantity" name="quantity">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>


                        </div>
                        <div class="text-center">
                            <button (click)="ajoutEvenementABilleterie(m.id, quantity.value)"
                                class="btn btn-dark btn-sm" data-toggle="modal" data-target="#pop-up">Ajouter au
                                panier</button>
                        </div>




                    </div>

                </div>
                <p></p>
            </div>



        </div>


    </div>
    <!-- Pop-up quand on ajoute au panier -->
    <div class="modal fade" id="pop-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{msg}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        (click)="service.goToPanier()">Aller vers le panier</button>
                </div>
            </div>
        </div>
    </div>

</div>