<body>
    <div class="container">
        <h1>Panier</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of panier">
                <tr>
                    <td>{{ item.produits.designation }}</td>
                    <td>{{ item.produits.prix }} €</td>
                    <td>{{ item.quantite }} </td>

                    <td><select #quantity id="quantity" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select></td>

                    <td><button (click)="modifQuantite(item.produits.id, quantity.value)">Modifier la quantite</button>
                    </td>

                    <td><button (click)="suppressionProduitDuPanier(item.id)">Supprimer du
                            panier</button>
                    </td>


                </tr>

            </tbody>
        </table>
        <p>Sous total : <span class="subtotal"></span> {{ coutPanier() }} €</p>


        <!-- Bouton Collapse pour passer la commande-->
        <div class="container">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#panier">Passer la
                commande</button>
            <div id="panier" class="collapse">
                <form>
                    <div class="form-group">
                        <label for="firstName">Prénom</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Entrez votre prénom">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Nom</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Entrez votre nom">
                    </div>
                    <div class="form-group">
                        <label for="deliveryAddress">Adresse de livraison</label>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="deliveryStreet"
                                    placeholder="Entrez votre rue">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" id="deliveryCity"
                                    placeholder="Entrez votre ville">
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="deliveryZip" placeholder="Code postal">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="paymentMethod">Méthode de paiement</label>
                        <select class="form-control" id="paymentMethod">
                            <option>Virement bancaire</option>
                            <option>Paypal</option>
                        </select>
                    </div>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-0"
                        href="https://www.caisse-epargne.fr/votre-banque/securite/faux-service-fraude" role="button"
                        data-mdb-ripple-color="dark">Payer</a>
                </form>

            </div>
        </div>


    </div>

    <br><br>
    <div class="container">
        <h1>Événements</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Événement</th>
                    <th>Prix</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody *ngFor="let i of evenement">
                <tr>
                    <td>{{ i.evenements.nom }}</td>
                    <td>{{ i.evenements.prix }} €</td>
                    <td>{{ i.evenements.date }}</td>
                    <td><button (click)="suppressionEvenementDuPanier(i.id)">Supprimer du
                            panier</button>
                    </td>

                </tr>
            </tbody>
        </table>
        <p>Sous total : <span class="subtotal"></span> {{ coutEvenement() }} €</p>

        <!-- Bouton Collapse pour passer la commande-->
        <div class="container">
            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#evenement">Passer la
                commande</button>
            <div id="evenement" class="collapse">
                <form>
                    <div class="form-group">
                        <label for="firstName">Prénom</label>
                        <input type="text" class="form-control" id="firstName" placeholder="Entrez votre prénom">
                    </div>
                    <div class="form-group">
                        <label for="lastName">Nom</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Entrez votre nom">
                    </div>
                    <div class="form-group">
                        <label for="deliveryAddress">Adresse de livraison</label>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="deliveryStreet"
                                    placeholder="Entrez votre rue">
                            </div>
                            <div class="form-group col-md-4">
                                <input type="text" class="form-control" id="deliveryCity"
                                    placeholder="Entrez votre ville">
                            </div>
                            <div class="form-group col-md-2">
                                <input type="text" class="form-control" id="deliveryZip" placeholder="Code postal">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="paymentMethod">Méthode de paiement</label>
                        <select class="form-control" id="paymentMethod">
                            <option>Virement bancaire</option>
                            <option>Paypal</option>
                        </select>
                    </div>
                    <a class="btn btn-link btn-floating btn-lg text-dark m-0"
                        href="https://www.caisse-epargne.fr/votre-banque/securite/faux-service-fraude" role="button"
                        data-mdb-ripple-color="dark">Payer</a>
                </form>

            </div>
        </div>
    </div>
    <br>



</body>