<body>
    <div class="container">
        <h1>Panier</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Article</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                </tr>
            </thead>
            <tbody *ngFor="let item of panier">
                <tr>
                    <td>{{ item.produits.designation }}</td>
                    <td>{{ item.produits.prix }} €</td>
                    <td>{{ item.quantite }}</td>
                    <td><button (click)="suppressionProduitDuPanier()">Supprimer du
                            panier</button>
                    </td>
                </tr>

            </tbody>
        </table>
        <p>Sous total : <span class="subtotal"></span> {{ coutPanier() }} €</p>

        <button id="confirm-command">Passer la commande</button>
    </div>

    <br><br>
    <div class="container">
        <h1>Événement</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Événement</th>
                    <th>Prix</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody *ngFor="let i of evenement">
                <tr>
                    <td>{{ i.evenements.nom }}</td>
                    <td>{{ i.evenements.prix }} €</td>
                    <td>{{ i.evenements.date }}</td>

                </tr>
            </tbody>
        </table>
        <p>Sous total : <span class="subtotal"></span> {{ coutEvenement() }} €</p>

        <button id="confirm-command">Passer la commande</button>
    </div>
    <br>



</body>