<body>


    <div class="text-center">
        <div class="container-fluid">
            <h1>Playlist</h1>
            <div class="table">
                <table>
                    <thead>
                        <tr>
                            <th>Album</th>
                            <th>Nom</th>
                            <th>Auteur</th>
                            <th>Genre</th>
                            <th>Delete</th>
                            <th>Lecteur pas trop cassé</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of playlist">
                        <tr *ngIf="item.user.id == this.service.getId()">
                            <td>{{ item.morceau.album }}</td>
                            <td>{{ item.morceau.nom }}</td>
                            <td>{{ item.morceau.auteur }}</td>
                            <td>{{ item.morceau.genre }}</td>
                            <td><button (click)="supprimeMorceau(item.id)" type="button"
                                    class="btn btn-secondary btn-sm">Delete</button></td>
                            <td> <audio #audioPlayer [src]="item.morceau.url" controls (ended)="onAudioEnded()"></audio>
                                <button (click)="playAudio()">Play</button>
                                <button (click)="pauseAudio()">Pause</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="container">
            <h1>Morceau disponible</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Album</th>
                        <th>Nom</th>
                        <th>Auteur</th>
                        <th>Genre</th>
                        <th>Add</th>
                        <th>Lecteur pas trop cassé</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of morceau">
                    <tr>
                        <td>{{ item.album }}</td>
                        <td>{{ item.nom }}</td>
                        <td>{{ item.auteur }}</td>
                        <td>{{ item.genre }}</td>
                        <td><button (click)="ajoutMorceau(item.id)" class="btn btn-dark btn-sm ">Add
                                playlist</button></td>
                        <td> <audio #audioPlayer [src]="item.url" controls (ended)="onAudioEnded()"></audio>
                            <button (click)="playAudio()">Play</button>
                            <button (click)="pauseAudio()">Pause</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>