<!-- Navbar-->
<HEader>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" routerLink="">
          <!--TODO REVOIR LE LOGO ET LE LIEN VERS HOME-->
          <img src="./assets/images/chorus logo.png" height="40" alt="" loading="lazy" style="margin-top: 2px;" />
        </a>

        <!-- Search form -->
        <form class="input-group w-auto my-auto d-none d-sm-flex">
          <input autocomplete="off" type="search" class="form-control rounded" placeholder="Rechercher"
            style="min-width: 125px;" />
          <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
        </form>
      </div>
      <!-- Left elements -->

      <!-- Center elements -->
      <ul class="navbar-nav flex-row d-none d-md-flex display-5">
        <li class="nav-item me-3 me-lg-1 "> <!-- TODO GERER LES ACTIVE ICONS-->
          <a class="nav-link" routerLink="home">Accueil</a>
        </li>

        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" routerLink="evenements">
            <!-- <i class="fas fa-calendar fa-lg" aria-hidden="true"></i>-->
            Évenements
          </a>
        </li>

        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" routerLink="playlists">
            <!--   <span><i class="fas fa-play fa-lg"></i></span>          -->
            Playlist
          </a>
        </li>


        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" routerLink="boutique">
            <!-- <i class="fas fa-shopping-bag fa-lg"></i>-->
            Boutique
          </a>
        </li>




      </ul>
      <!-- Center elements -->

      <!-- Right elements -->
      <ul class="navbar-nav flex-row display-5">

        <!-- If not connected-->

        <div class="d-flex" *ngIf="!service.isConnected()">
          <li class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center" routerLink="login">
              <i class="far fa-user"></i>
            </a>
          </li>
        </div>

        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" routerLink="login/panier">
            <!--<span><i class="fas fa-shopping-cart fa-lg"></i></span> -->
            Panier
          </a>
        </li>

        <!-- If connected  -->
        <div class="d-flex" *ngIf="service.isConnected()">
          <li class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center" routerLink="user">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="22"
                alt="" loading="lazy" />
              <strong class="d-none d-sm-block ms-1">{{ service.getLogin() }}</strong>
            </a>
          </li>


          <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" routerLink="">
              <span><i class="fas fa-plus-circle fa-lg"></i></span>
            </a>
          </li>
          <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
            <a class="nav-link dropdown-toggle " routerLink="login/messages" id="navbarDropdownMenuLink" role="button"
              mdbDropdownToggle aria-expanded="false">
              <i class="fas fa-comments fa-lg"></i>

              <span class="badge rounded-pill badge-notification bg-danger">6</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink"
              data-bs-toggle="dropdown">
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
            <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
              mdbDropdownToggle aria-expanded="false">
              <i class="fas fa-bell fa-lg"></i>
              <span class="badge rounded-pill badge-notification bg-danger">12</span>
            </a>
            <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a (click)="service.deco()" class="nav-link"><i class="fas fa-power-off"></i></a>
          </li>
        </div>

      </ul>
    </div>
  </nav>
</HEader>








<router-outlet></router-outlet>