<!-- Navbar-->
<Header>
  <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #96aba28c;">
    <div class="container-fluid justify-content-between">
      <!-- Left elements -->
      <div class="d-flex">
        <!-- Brand -->
        <a class="navbar-brand me-2 mb-1 d-flex align-items-center" routerLink="">
          <!--TODO REVOIR LE LOGO ET LE LIEN VERS HOME-->
          <img src="./assets/images/logo-removebg-preview.png" height="40" alt="" loading="lazy"
            style="margin-top: 2px;" />
        </a>
      </div>

      <!-- Center elements / MENU -->
      <ul class="navbar-nav flex-row d-none d-md-flex display-5">
        <li class="nav-item me-3 me-lg-1 "> <!-- TODO GERER LES ACTIVE ICONS-->
          <a style="color: aqua;" class="nav-link" routerLink="home">Accueil</a>
        </li>

        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" routerLink="evenements">
            <!-- <i class="fas fa-calendar fa-lg" aria-hidden="true"></i>-->
            Évenements
          </a>
        </li>

        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" routerLink="playlists">
            <!--   <span><i class="fas fa-play fa-lg"></i></span>          -->
            Playlist
          </a>
        </li>

        <li class="nav-item me-3 me-lg-1">
          <a class="nav-link" routerLink="boutique">
            <!-- <i class="fas fa-shopping-bag fa-lg"></i>-->
            Boutique
          </a>
        </li>

        <!-- Search form -->
        <form class="input-group w-auto my-auto d-none d-sm-flex">
          <input autocomplete="off" type="search" class="form-control " placeholder="Rechercher"
            style="min-width: 125px;" />
          <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
        </form>

      </ul>

      <!-- Right elements -->
      <ul class="navbar-nav flex-row display-5">

        <!-- If not connected-->

        <div class="d-flex" *ngIf="!service.isConnected()">
          <li class="nav-item me-3 me-lg-1">
            <a class="btn btn-primary btn-sm" routerLink="login">
              <i class="far fa-user fa-lg"> </i>
            </a>
            <a routerLink="path/to/shopping/cart" class="btn btn-primary btn-sm"
              aria-label="View 3 items in your shopping cart">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </li>
        </div>

        <!-- If connected  -->
        <div class="d-flex" *ngIf="service.isConnected()">
          <li class="nav-item me-3 me-lg-1">
            <a class="nav-link d-sm-flex align-items-sm-center" routerLink="user">
              <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp" class="rounded-circle" height="30"
                alt="" loading="lazy" />
              <strong class="d-none d-sm-block ms-1">{{ service.getLogin() }}</strong>
            </a>
          </li>

          <li class="nav-item me-3 me-lg-1">
            <!-- <a class="nav-link" routerLink="login/panier">
              <span><i class="fas fa-shopping-cart fa-lg"></i></span>
            </a> -->
            <a routerLink="login/panier" class="btn btn-primary btn-sm" aria-label="View 3 items in your shopping cart">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            </a>
          </li>

          <!-- <li class="nav-item me-3 me-lg-1">
            <a class="nav-link" routerLink="">
              <span><i class="fas fa-plus-circle fa-lg"></i></span>
            </a>
          </li> -->
          <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
            <a class="btn btn-primary btn-sm" routerLink="login/messages" id="navbarDropdownMenuLink" role="button"
              mdbDropdownToggle aria-expanded="false" height="45">
              <i class="fas fa-comments fa-lg"></i>

              <!-- <span class="badge rounded-pill badge-notification bg-danger">6</span> -->
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink"
              data-bs-toggle="dropdown">
              <!--
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            -->
            </ul>
          </li>
          <!--
          <li mdbDropdown class="nav-item dropdown me-3 me-lg-1">
            <a class="nav-link dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
              mdbDropdownToggle aria-expanded="false">
              <i class="fas fa-bell fa-lg"></i>
              <span class="badge rounded-pill badge-notification bg-danger">12</span>
            </a> 
          <ul mdbDropdownMenu class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
            <li>
              <a class="dropdown-item" href="#">Some news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Another news</a>
            </li>
            <li>
              <a class="dropdown-item" href="#">Something else here</a>
            </li>
          </ul>
          </li>
        -->

          <li class="nav-item">
            <a (click)="service.deco()" class="btn btn-outline-danger btn-sm"><i class="fas fa-power-off "></i></a>
          </li>
        </div>

      </ul>
    </div>
  </nav>
</Header>








<router-outlet></router-outlet>