<!-- message page boutique -->
<h2 class="text-center m-5">
    <img src="./assets/images/logo_slogan.PNG" height="190" alt="" loading="lazy" style="margin-top: 2px;" /> <br>
    <small class="text-muted">Tout pour vous équiper.</small>
</h2>

<!-- card des produits-->
<div class="container">


    <!-- Barre de recherche -->
    <div class="row">
        <div class="search-hero">
            <input class="form-control rounded" [(ngModel)]="searchText" name="search" autocomplete="off" type="text"
                placeholder="Rehercher..." style="min-width: 125px;">
        </div>
    </div>


    <!-- fin Barre de recherche -->

    <h2 class="text-center m-5"></h2>


    <div class="row m-2 row-cols-1 row-cols-md-4 g-4 ">

        <div class="col" *ngFor="let m of products | filter:searchText">

            <div class="card h-100">
                <img src="{{ m.imageurl}}" class="card-img-top" alt="Hollywood Sign on The Hill"
                    style="width: 243px; height: 243px;" />
                <div class="card-body mb-2">
                    <h5 class="card-title text-center">{{ m.designation}}</h5>
                    <p class="card-text">
                        Catégorie : {{ m.categorie}}
                    </p>
                    <p>
                        Prix : {{ m.prix}} €
                    </p>
                    <div>

                    </div>
                    <div class="text-center">
                        <label for="quantity">Quantité : </label>
                        <select #quantity id="quantity" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <button (click)="ajoutProduitAuPanier(m.id, quantity.value)"
                            class="btn btn-dark btn-sm " data-toggle="modal" data-target="#pop-up">Ajouter au
                            panier</button>




                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<h2 class="text-center m-5">

</h2>

<!-- Pop-up quand on ajoute au panier -->
<div class="modal fade" id="pop-up" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{msg}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="service.goToPanier()" >Aller vers le panier</button>
        </div>
      </div>
    </div>
  </div>