<!-- message page boutique -->
<h2 class="text-center m-5">
    Bienvenue dans la boutique de Chorus.fr
    <small class="text-muted">Tout pour vous équiper</small>
</h2>

<!-- card des produits-->
<div class="container">


    <!-- Barre de recherche -->
    <div class="row">
        <div class="search-hero">
            <input class="form-control rounded" [(ngModel)]="searchText" name="search" autocomplete="off" type="text"
                placeholder="Rehercher..." style="min-width: 125px;">
        </div>
    </div>


    <!-- fin Barre de recherche -->

    <h2 class="text-center m-5"></h2>

    <p class="text-danger text-center"> {{ msg }} </p>

    <div class="row m-2 row-cols-1 row-cols-md-4 g-4 ">

        <div class="col" *ngFor="let m of products | filter:searchText">

            <div class="card h-100">
                <img src="{{ m.imageurl}}" class="card-img-top" alt="Hollywood Sign on The Hill"
                    style="width: 243px; height: 243px;" />
                <div class="card-body mb-2">
                    <h5 class="card-title text-center">{{ m.designation}}</h5>
                    <p class="card-text">
                        Catégorie : {{ m.categorie}}
                    </p>
                    <p>
                        Prix : {{ m.prix}} €
                    </p>
                    <div>

                    </div>
                    <div class="text-center">
                        <label for="quantity">Quantité :</label>
                        <select #quantity id="quantity" name="quantity">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>

                        <button (click)="ajoutProduitAuPanier(m.id, quantity.value)"
                            class="btn btn-dark btn-sm ">Ajouter au
                            panier</button>




                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

<h2 class="text-center m-5">

</h2>