<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>Mot de passe oublié</title>
</head>
<br><br>

<body class="text-center">
    <div>Mot de passe oublié</div>
    <form method="post">
        <div>

        </div>

        <input type="email" placeholder="Adresse mail" name="mail" value="" required>

        <button type="submit" name="oublie">Envoyer</button>
    </form>
</body>

</html>