<div>
    <div>
        <div class="mt-5">
            <div style="margin: auto; width: 40%">
                <form>
                    <div class="card p-3 z-depth-3">
                        <div class="md-form">
                            <label>Login</label>
                        </div>
                        <div class="md-form">
                            <label>Password</label>
                        </div>
                        <div class="md-form">
                            <label>Nom</label>
                        </div>                        
                        <div class="md-form">
                            <label>Prenom</label>
                        </div>
                        <div class="md-form">
                            <label>Adresse mail</label>
                        </div>
                        <div class="md-form">
                            <label>Adresse postale</label>
                        </div>
                        <br>
                        <br>
                        <button type="button" class="btn btn-primary btn-sm btn-block">Modifier le profil</button>
                        <br>
                        <p class="text-danger text-center"> </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
