<br>
<div class="container-xl flex-grow-1 container-p-y">


    <div class="row">
        <div class="col-md-12">

            <div class="card mb-4">
                <h5 class="card-header">Détails du profil</h5>
                <!-- Account -->
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src={{url}} alt="user-avatar" class="d-block rounded" height="100" width="100"
                            id="uploadedAvatar">
                        <div class="button-wrapper">
                            <label for="upload" class="btn btn-primary me-1 mb-2" tabindex="0">
                                <span class="d-none d-sm-block">Téléchargez une image</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="upload" class="account-file-input" hidden=""
                                    accept="images/png, images/jpeg" (change)="onFileChanged($event)">
                            </label>


                            <p class="text-muted mb-0">JPG, GIF ou PNG autorisés. Taille maximale de 800K</p>
                        </div>
                    </div>
                </div>
                <hr class="my-3">
                <div class="card-body">
                    <form #fUpdate="ngForm" (ngSubmit)="update(fUpdate.value)" id="formAccountSettings">
                        <div class="row">

                            <div class="mb-3 col-md-6">
                                <label for="Login" class="form-label">Login</label>
                                <input ngModel="" type="text" class="form-control" id="login" name="login"
                                    placeholder="*Obligatoire">
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="password" class="form-label">Mot de passe</label>
                                <input ngModel="" type="text" class="form-control" id="password" name="password"
                                    placeholder="*Obligatoire" maxlength="6">
                            </div>


                            <div class="mb-3 col-md-6">
                                <label for="firstName" class="form-label">Prénom</label>
                                <input ngModel="" class="form-control" type="text" id="firstName" name="prenom"
                                    placeholder="*Obligatoire" autofocus="">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="lastName" class="form-label">Nom</label>
                                <input required ngModel="" class="form-control" type="text" name="nom" id="lastName"
                                    placeholder="*Obligatoire">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input ngModel="" class="form-control" type="text" id="email" name="mail" value=""
                                    placeholder="*Obligatoire">
                            </div>


                            <div class="mb-3 col-md-6">
                                <label for="address" class="form-label">Adresse</label>
                                <input ngModel="" type="text" class="form-control" id="adresse" name="adresse"
                                    placeholder="*Obligatoire">
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="zipCode" class="form-label">Code Postal</label>
                                <input ngModel="" type="text" class="form-control" id="zipCode" name="codePostale"
                                    placeholder="*Obligatoire" maxlength="6">
                            </div>

                            <br>
                            <br>
                            <p class="text-danger text-center"> {{ message }} </p>


                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Sauvegarder</button>
                            <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                        </div>
                    </form>
                </div>
                <!-- /Account -->
            </div>
            <div class="card">
                <h5 class="card-header">Supprimer le compte</h5>
                <div class="card-body">
                    <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                            <h6 class="alert-heading fw-bold mb-1">Êtes-vous sûr de vouloir supprimer votre compte ?
                            </h6>
                            <p class="mb-0">Une fois supprimé, votre compte ne sera pas récupérable.</p>
                        </div>
                    </div>
                    <form id="formAccountDeactivation" (submit)="deleteUser()">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="accountActivation"
                                id="accountActivation">
                            <label class="form-check-label" for="accountActivation">Je confirme la suppression de mon
                                compte.</label>
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Supprimer mon compte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>