<br>
<div class="container-xl flex-grow-1 container-p-y">


    <div class="row">
        <div class="col-md-12">

            <div class="card mb-4">
                <h5 class="card-header">Détail du profil</h5>
                <!-- Account -->
                <div class="card-body">
                    <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img src={{url}} alt="user-avatar" class="d-block rounded" height="100" width="100"
                            id="uploadedAvatar">
                        <div class="button-wrapper">
                            <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                <span class="d-none d-sm-block">Téléchargez une image</span>
                                <i class="bx bx-upload d-block d-sm-none"></i>
                                <input type="file" id="upload" class="account-file-input" hidden=""
                                    accept="images/png, images/jpeg" (change)="onFileChanged($event)">
                            </label>
                            <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                <i class="bx bx-reset d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Réinitialiser</span>
                            </button>

                            <p class="text-muted mb-0">JPG, GIF ou PNG autorisés. Taille maximale de 800K</p>
                        </div>
                    </div>
                </div>
                <hr class="my-0">
                <div class="card-body">
                    <form #Update="ngForm" (ngSubmit)="Update" id="formAccountSettings">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="firstName" class="form-label">Prénom</label>
                                <input ngModel="" class="form-control" type="text" id="firstName" name="prenom"
                                    value="{{service.getPrenom()}}" autofocus="">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="lastName" class="form-label">Nom</label>
                                <input ngModel="" class="form-control" type="text" name="nom" id="lastName"
                                    value="{{service.getNom()}}">
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="email" class="form-label">E-mail</label>
                                <input ngModel="" class="form-control" type="text" id="email" name="mail"
                                    value="{{service.getMail()}}" placeholder="">
                            </div>


                            <div class="mb-3 col-md-6">
                                <label for="address" class="form-label">Adresse</label>
                                <input ngModel="" type="text" class="form-control" id="adresse" name="adresse"
                                    placeholder=" " value="{{service.getAdresse()}}">
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for="zipCode" class="form-label">Code Postale</label>
                                <input ngModel="" type="text" class="form-control" id="zipCode" name="codePostale"
                                    placeholder=" " value="{{service.getcode_postale()}}" maxlength="6">
                            </div>

                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Sauvegarder</button>
                            <button type="reset" class="btn btn-outline-secondary">Annuler</button>
                        </div>
                    </form>
                </div>
                <!-- /Account -->
            </div>
            <div class="card">
                <h5 class="card-header">Supprimer le compte</h5>
                <div class="card-body">
                    <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                            <h6 class="alert-heading fw-bold mb-1">êtes vous sur de vouloir supprimer votre compte ?
                            </h6>
                            <p class="mb-0">Une fois supprimer, votre compte ne sera pas récupérable.</p>
                        </div>
                    </div>
                    <form id="formAccountDeactivation" onsubmit="return false">
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" name="accountActivation"
                                id="accountActivation">
                            <label class="form-check-label" for="accountActivation">Je confirme la suppression de mon
                                compte</label>
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Desactiver mon compte</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>