<div class="py-24">
    <div class="container max-w-screen-xl">
        <div class="row align-items-center">
            <div class="col-12 col-lg-5 mb-10 mb-lg-0">
                <!-- Emoji -->
                <div class="display-4 mb-5 mt-n16"> 🎵 </div>
                <!-- Heading -->
                <h1 class="ls-tight font-bolder display-3 mb-5">
                    La musique c'est trop bien 🤪<br>
                </h1>
                <!-- Text -->
                <p class="lead mb-10">
                    Avec CHORUS, partagez, vivez et ACHETEZ de la musique.
                </p>
                <!-- Buttons -->
                <div class="mx-n2">
                    <a routerLink="/login" class="btn btn-lg btn-dark shadow-sm mx-2 px-lg-8">
                        Connexion
                    </a>
                    <a routerLink="/register" class="btn btn-lg btn-neutral mx-2 px-lg-8">
                        Inscription
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-6 ms-lg-auto">
                <div class="w-xl-12/10 position-relative">
                    <!-- Decorations -->
                    <span
                        class="d-none d-lg-block position-absolute top-0 start-0 transform translate-x-n32 translate-y-n16 w-2/3 h-2/3 bg-warning opacity-20 rounded-circle filter blur-50"></span>
                    <span
                        class="d-none d-xl-block position-absolute bottom-0 end-0 transform translate-x-16 translate-y-16 w-32 h-32 bg-warning opacity-60 rounded-circle filter blur-50"></span>
                    <!-- Image -->
                    <img alt="..." src="./assets/images/DJSPIN.jpg" width="250%" loading="lazy" style="margin-top: 2px;"
                        class="shadow-4 rounded-4 position-relative overlap-10" />
                </div>
            </div>
        </div>
    </div>
</div>