<div class="py-24">
    <div>
        <div class="row align-items-center">
            <div>

                <div class="muzieknootjes">
                    <div class="noot-1">
                        &#9835; &#9833;
                    </div>
                    <div class="noot-2">
                        &#9833;
                    </div>
                    <div class="noot-3">
                        &#9839; &#9834;
                    </div>
                    <div class="noot-4">
                        &#9834;
                    </div>
                </div>
                <!-- Emoji -->
                <!-- Heading -->
                <img src="./assets/images/logo_slogan.PNG" height="190" alt="" loading="lazy"
                    style="margin-top: 2px;" />
                <!-- Text -->


                <p class="lead mb-10" style="text-align: center;">
                    Avec CHORUS, partagez et vivez la musique.
                </p>
                <!-- Buttons -->
                <div class="mx-n2" style="text-align: center;">
                    <a routerLink="/login" class="btn btn-lg btn-dark shadow-sm mx-2 px-lg-8">
                        Connexion
                    </a>
                    <a routerLink="/register" class="btn btn-lg btn-neutral mx-2 px-lg-8">
                        Inscription
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="w-xl-12/8 position-relative">
                    <!-- Decorations -->
                    <span
                        class="d-none d-lg-block position-absolute top-0 start-0 transform translate-x-n32 translate-y-n16 w-2/3 h-2/3 bg-warning opacity-20 rounded-circle filter blur-50"></span>
                    <span
                        class="d-none d-xl-block position-absolute bottom-0 end-0 transform translate-x-16 translate-y-16 w-32 h-32 bg-warning opacity-60 rounded-circle filter blur-50"></span>
                    <!-- Image -->
                    <img alt="..." src="./assets/images/DJSPIN.jpg" width="120%" loading="lazy" style="margin-top: 2px;"
                        class="shadow-4 rounded-4 position-relative overlap-10" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Background image -->