<br>
<div class="col-md-6 mb-4" style="margin: auto; width: 40%">

    <!--Title-->


    <!--Section: Live preview-->
    <section class="pr-1">

        <!-- Material form register -->
        <div class="card">

            <h5 class="card-header info-color white-text text-center py-4">
                <strong>Inscription</strong>
            </h5>

            <!--Card content-->
            <div class="card-body px-lg-5 pt-0">

                <!-- Form -->
                <form class="text-center" style="color: #757575;">

                    <div class="form-row">
                        <div class="col">
                            <!-- First name -->
                            <div class="md-form">
                                <input type="text" id="Prénom" class="form-control">
                                <label for="Prénom">Prénom</label>
                            </div>
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <div class="md-form">
                                <input type="text" id="Nom" class="form-control">
                                <label for="Nom">Nom</label>
                            </div>
                        </div>
                    </div>

                    <!-- E-mail -->
                    <div class="md-form mt-0">
                        <input type="email" id="Mail" class="form-control">
                        <label for="Mail" class="active">E-mail</label>
                    </div>

                    <div class="md-form">
                        <input type="text" id="Login" class="form-control">
                        <label for="Login">Login</label>
                    </div>

                    <!-- Password -->
                    <div class="md-form">
                        <input type="password" id="mdp" class="form-control">
                        <label for="mdp" class="active">Mot de passe</label>

                    </div>



                    <!-- Newsletter -->
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
                        <label class="form-check-label" for="materialRegisterFormNewsletter">S'abonner à la
                            Newsletter</label>
                    </div>

                    <!-- Sign up button -->
                    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                        type="submit">Inscription</button>

                    <!-- Social register -->
                    <p>ou s'inscrire avec:</p>

                    <a type="button" class="btn-floating btn-fb btn-sm waves-effect waves-light">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a type="button" class="btn-floating btn-tw btn-sm waves-effect waves-light">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a type="button" class="btn-floating btn-li btn-sm waves-effect waves-light">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a type="button" class="btn-floating btn-git btn-sm waves-effect waves-light">
                        <i class="fab fa-github"></i>
                    </a>

                    <hr>

                    <!-- Terms of service -->
                    <p>En cliquant sur
                        <em>Inscription</em> vous acceptez nos
                        <a href="" target="_blank">conditions d'utilisation</a>

                    </p>
                </form>
                <!-- Form -->

            </div>

        </div>
        <!-- Material form register -->

    </section>
    <!--Section: Live preview-->

</div>
<!--Grid column-->